.loginPage{
    background-color: #f6f6f6;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 10px;
}